.login-form {
  margin: 20px auto;
  max-width: 300px;
  border-radius: 3px;
  border: 1px solid rgba(117,186,168, 0.95);
  background-color: rgba(242,204,103, 0.25);
}

.login-form__control {
  padding: 10px;
  display: flex;
  text-align: center;
}

.login-form__error {
  border-bottom: 1px solid rgba(244,0,52, 0.5);
  background: rgba(244,0,52, 0.8);
  padding: 10px;
  text-align: center;
}